<% include head %>
<% include header %>
<style type="text/css">
  .no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(Preloader_2.gif) center no-repeat #fff;
}
</style>

<div class="se-pre-con"></div>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Dashboard
      <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Dashboard</li>
    </ol>
  </section>
  <section class="content">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- general form elements -->
     
 <div class="box">
            <div class="box-header">
              <h3 class="box-title">Data Table With Full Features</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body map-columns">
              <table id="example1" class="table table-bordered table-striped">
                <%  var count= Object.keys(csvm).length%>
                              <%= count%>
              <%   var keys = Object.keys(csvm[count-5]) %>
                <thead>
                <tr>
			<% for (var i = 1; i < keys.length-1; i++) { -%>
			<th>
			<%=	keys[i]	%>
			</th>
			<% } -%>
		</tr>
                </thead>
                <tbody>
                		<% for (var i = 1; i < csvm.length-1; i++) { -%>
		<tr>

<% for (var j = 1; j < keys.length-1; j++) { -%>

			<td> 
<%=  csvm[i][keys[j]]%>

			</td>

			<% } -%>
		</tr>

<% } -%>
                </tbody>
                <tfoot>
                                <tr>
			<% for (var i = 1; i < keys.length-1; i++) { -%>
			<th>
			<%=	keys[i]	%>
			</th>
			<% } -%>
		</tr>
                  
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
        </div></div></section>

      </div>

<% include footer %>
<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>

//paste this code under the head tag or in a separate js file.
  // Wait for window load
  <script>
     $(window).ready(function() {
    // Animate loader off screen
    $(".se-pre-con").fadeOut("slow");;
  });
  </script>