<!DOCTYPE html>
<html>
<head>
 <meta charset="UTF-8">
	<title></title>
</head>
<body>
<form action="/csv/add" method="post">
	
	<div id="divResults">

	</div>
<table>
 <tr id="thead">

 </tr>
  <tbody>
  <tr id="first"></tr>
  <tr id="second"></tr>
  <tr id="third"></tr>
  <tr id="fourth"></tr>
 </tbody>
</table>
<button type="submit"> next</button>

</form>

<p id="buttonCount"></p>
<button onclick="tableToObje()"> test</button>
<div id="r"></div>
<script src="/jquery.js"></script>
<script src="/socket.io.js"></script>
<script src="/main.js"></script>
</body>
</html>
<script type='text/javascript'>
	if (typeof result == 'undefined')
 console.log("okok")
</script>